.activity-bar {
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  box-sizing: border-box;
  width: 70px;
  height: 100%;
  padding-top: 22px;
  -webkit-app-region: drag;
}

.activity-bar__item {
  padding: 12px 0;
}

.activity-bar__link {
  color: $secondary-text-color;
}

.activity-bar__icon {
  font-size: 21px;
}
