.button {
  box-sizing: border-box;
  padding: 6px 12px;
  border: none;
  border-radius: 999px;
  background-color: $highlight-text-color;
  color: $white;
  font-size: 14px;
  cursor: pointer;

  &:focus,
  &:active {
    outline: none;
  }

  &:hover {
    background-color: lighten($highlight-text-color, 0.8);
  }

  &--skeleton,
  &--skeleton:hover {
    background-color: transparent;
  }
}

.link-button {
  padding: 0;
  border: none;
  background-color: transparent;
  color: $darker-text-color;
  font-size: inherit;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
