.title-bar {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 8px 16px;
  background-color: lighten($base-color, 4%);
  color: $primary-text-color;
  box-shadow: 0 2px 8px rgba($shadow-color, 0.15);
  -webkit-app-region: drag;

  h2 {
    margin: 0;
    padding: 0;
    font-size: 16px;
  }
}

.title-bar__back-button {
  margin-right: 12px;
}
