{
  "passPerPreset": true,
  "presets": [
    {
      "presets": [
        "@babel/preset-typescript"
      ]
    },
    {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": { "electron": "2.0" },
            "useBuiltIns": "usage"
          }
        ],
        [
          "@babel/preset-stage-2",
          {
            "decoratorsLegacy": true
          }
        ],
        "@babel/preset-react"
      ]
    }
  ],

  "plugins": [
    [
      "babel-plugin-react-intl", {
        "messagesDir": "./dist/messages",
        "enforceDescriptions": false
      }
    ]
  ]
}
