body {
  color: $text-strong;
  background-color: $primary-medium;
  font-family : "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-feature-settings: "kern";
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

h1 {
  font-size: 21px;
  font-weight: bold;
  line-height: 2;
  margin-bottom: 4px;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  line-height: 2;
  margin-bottom: 4px;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.6;
  margin-bottom: 4px;
}

h4 {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.6;
}

p {
  line-height: 1.2;
}

::selection {
  color: $white;
  background-color: $highlight-light;
}

.invisible {
  display: none !important;
}

.unselectable {
  user-select: none !important;
  -webkit-user-select: none !important;
}

.infobox-notice {
  font-size: 14px;
  padding: 8px;
  box-sizing: border-box;
  border-radius: $border-radius;
  border: 1px solid $green;
  background-color: lighten($green, 40%);
}
