// Common colors
$black: #000 !default;
$white: #fff !default;
$red:   #ff5722 !default;
$blue:  #2196f3 !default;
$green: #009688 !default;

// Primary color of the UI
$base-color:  #282c37 !default;
$base-lighter-color: lighten($base-color, 26%) !default;
$primary-color:  #9baec8 !default;
$secondary-color:  #d9e1e8 !default;
$highlight-color: #2b90d9 !default;

// Text colors
$primary-text-color: #fff !default;
$darker-text-color: $primary-color !default;
$dark-text-color: $base-lighter-color !default;
$secondary-text-color: $secondary-color !default;
$highlight-text-color: $highlight-color !default;

$inverted-text-color: $base-color !default;
$lighter-text-color: $base-lighter-color !default;
$light-text-color: $primary-color !default;

// Shadow of some modal/button
$shadow-color: #000 !default;

// CSS transition delay
$transition-fast: 0.1s !default;
$transition-middle: 0.3s !default;
$transition-slow: 0.5s !default;

